//colores generales

$colorUno:black;
$colorDos:  rgb(116 7 116);
$colorTres:  #000080;
$colorCuatro: indigo;
$colorCinco:midnightblue;
$colorSeis:#FF1493;
$colorSiete:white;
$colorOcho:violet;



//gradiente
$gradiente:linear-gradient(#FAA6B3,#753565,black);
