/*Formulario contacto*/

textarea{
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

.inputFormulario{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 33%;
    
}

.botonEnviar{
    width: 7%;
    margin-top: 2%;
    margin-left: 43%;
}