/*Sección nosotros*/

.sobreNosotros{
    color:$colorCuatro;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.textoNosotros{
    color:$colorCuatro;
    font-family:$tipoUno;
    font-size: 20px;
    margin-bottom: 15px;
}

.videoNosotros{
    
    margin-left: 30%;
}